@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

main {
    max-width: 1200px;
    margin: auto;
}
h1 {
    color: #272727;
}
.primary-btn {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #E55473;
    cursor: pointer;
}
section {
    margin: 50px auto;
}
p {
    line-height: 1.3rem;
}
.primary-btn > a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/* header styles */

header {
    background-color: hsla(347, 74%, 61%, 0.10);
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}
.hero-details {
}
.hero-details h1 {
    width: 50%;
    font-size: 3rem;
    font-weight: 900;
}
.hero-details p {
    font-size: 0.8rem;
    width: 70%;
    color: #272727a4;
    margin: 25px 0;
}
.heor-flower-images img {
    width: 100%;
    display: block;
}

/* Features flower card styles */

.featured-flowers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.featured-flowers h1 {
    color: #272727;
    font-size: 2rem;
    margin: 15px;
}
.featured-flowers > p {
    font-size: 0.8rem;
    width: 50%;
    margin: auto;
    text-align: center;
    color: rgba(39, 39, 39, 0.6);
}
.feature-flowers-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.flowers-card-image {
    padding: 100px 50px 0px 50px;
    border-radius: 50% 50% 0 0;
}
.flowers-card-image img {
    width: 170px;
    height: 170px;
    display: block;
    margin: auto;
}
.flowers-card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.flowers-card a {
    color: #272727;
}




/* For mobile screen */
@media screen and (max-width: 576px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .heor-flower-images img {
        width: 60%;
        margin: auto;
        border-bottom: 3px solid #E55473;
    }
    .hero-details {
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .hero-details h1 {
        font-size: 2rem;
    }

    /* Flower card section */
    .feature-flowers-cards {
        flex-direction: column;
        gap: 30px;
    } 
}